<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Attendance service</title>
    <script src="/resources/js/jquery-2.1.1.min.js"></script>
    <script src="/resources/js/jquery-ui-1.10.4.custom.js"></script>
    <link href="/resources/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" rel="stylesheet"/>
    <link href="/resources/css/styles.css" rel="stylesheet"/>
    <link href="/resources/css/bootstrap.min.css"  rel="stylesheet"/>
    <script type="text/javascript" th:inline="text">
        /*<![CDATA[*/

        $(function () {
            var url = '/fetch';
            $("#resultTable").load(url);
            $("#from").datepicker( {
                dateFormat: "dd-mm-yy",
                maxDate: -1,
                onSelect : function(selectedDate) {
//                    var date2 = $('#from').datepicker('getDate');
//                    date2.setDate(date2.getDate()+7);
//                    date2.formatDate("dd-mm-yy");
//                    alert(date2);
//                    $( "#to" ).datepicker( "setDate", date2 );
                    $("#resultTable").load(url, {start : selectedDate});
                }
            });
//            $( "#to" ).datepicker({
//                dateFormat: "dd-mm-yy",
//                onClose: function( selectedDate ) {
//                    $( "#from" ).datepicker( "option", "maxDate", selectedDate );
//                }
//            });

            $("#prev").click(function () {
                $("#resultTable").load(url);
            });
//            });
        });
        /*]]>*/
    </script>

</head>
<body>

<div class="container">
    <h3>Attendance</h3>

    <!--<p><a href="employee/create">Create new employee</a></p>-->

    <!--<p><a href="/new">Create record</a></p>-->

    <label for="from">From</label>
    <input type="text" id="from" name="from" />
    <!--<label for="to">to</label>-->
    <!--<input type="text" id="to" name="to" />-->
    <div id="resultTable"></div>

    <div class="row">
        <a href="/">Time tracking form</a>
    </div>

    <div th:fragment="resultsList" th:unless="${#lists.isEmpty(dataList)}" class="results-block">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>Name( Job)</th>
                <th th:each="t : ${dataList[0].attendances}" th:text="${#dates.format(t.actualDate, 'dd.MM')}">01.01
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="e : ${dataList}">
                <td>
                    <span th:text="${e.firstname + ' ' + e.lastname}"></span><br/>
                    <span th:text="${e.job}"></span>
                </td>
                <div th:each="a : ${e.attendances}">
                    <td>
                        <span th:text="${a.start != null} ? ${#dates.format(a.start, 'HH:mm')} : 'n/a'"></span>-<span th:text="${a.end != null} ? ${#dates.format(a.end, 'HH:mm')} : 'n/a'"></span>
                    </td>
                </div>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>