<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HH</title>
    <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/resources/js/jquery-2.1.0.min.js"></script>
    <script src="/resources/js/jquery-ui-1.10.4.custom.js"></script>
    <link href="/resources/css/jquery-ui-1.10.4.custom.css" rel="stylesheet"/>
    <script type="text/javascript">
        $(function () {
            $("#vacancy_search").autocomplete({
                source: "/vacancy/search",
                select: function (event, ui) {
                    console.log(ui.item ?
                            "Selected: " + ui.item.value + " aka " + ui.item.id :
                            "Nothing selected, input was " + this.value);
                }
            });
        });
    </script>
</head>
<body>

<div class="container">
    <div th:include="layout :: header(company)"></div>
    <h3>Каталог вакансий</h3>
    <div class="row">
        <div class="col-xs-5">
            <label for="vacancy_search">Поиск:</label>
            <input  class="form-control" type="text" id="vacancy_search"/>
        </div>
    </div>
    <ul class="nav nav-pills">
        <li th:each="cat : ${allCategories}"><a th:href="'/vacancy/list/'+ ${cat.id}" th:text="${cat.name}">Home</a></li>
    </ul>
    <ul class="list-unstyled">
        <li th:each="vacancy : ${vacancyList}">
            <div class="col-xs-4"><a th:href="'/vacancy/' + ${vacancy.id}" th:text="${vacancy.title}">Менеджер</a></div>
            <div class="col-xs-2"><small th:text="${vacancy.experience + ' года'}">2 года</small></div>
            <div class="col-xs-3"><small th:text="${vacancy.salary + ' руб'}">30000 рублей</small></div>
            <div class="col-xs-3"><small th:text="${vacancy.city}">Казань</small></div></li>
    </ul>
</div>
</body>
</html>